@using prueba1.Models;

@{
    List<Rol> rolesPermitidos = new List<Rol> { Rol.Pediatra };
    bool tieneAcceso = false;

    if (HttpContext.Current.Session["Usuario"] != null)
    {
        Usuarios usuario = HttpContext.Current.Session["Usuario"] as Usuarios;
        tieneAcceso = rolesPermitidos.Contains(usuario.IdRol);
    }
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Control de Pacientes Pediatricos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>


                    @if (tieneAcceso)
                    {
                        <li>@Html.ActionLink("Informes", "Informes", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Resultados", "Resultados", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Notas de evolucion", "Notas_Evolucion", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Historial clinico", "Historial_Clinico", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Laboratorio", "Laboratorio", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Controles", "Controles", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                  
                    
                        <li>@Html.ActionLink("Laboratorio", "Laboratorio", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Controles", "Controles", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Historial clinico", "Historial_Clinico", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        /*xd*/
                        <li>@Html.ActionLink("Recetas Medicas", "RecetasMedicas", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    
                    
                    
                        /*xd*/
                    <li>@Html.ActionLink("Seguros Medicos", "SegurosMedicos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Pediatras", "Pediatras", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Centro Medico", "CentroMedico", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                
                    
                    

                    
                    <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
